@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

.calendar-header {
  background: linear-gradient(
    0deg,
    #7a64ff 48.57%,
    rgba(122, 100, 255, 0.2) 198.78%
  );
}

.remind-box {
  border: solid 1.5px #c9dbff;
}

nav {
  z-index: 3;
}

.chatting-img {
  z-index: 3;
}

.day-modal {
  z-index: 15;
}
