.rbc-off-range-bg {
  background: white;
}

.rbc-off-range {
  color: #999999;
}

.rbc-day-bg + .rbc-day-bg {
  border: none;
}

.rbc-month-row + .rbc-month-row {
  border: none;
}

.rbc-header + .rbc-header {
  border-left: none;
}
.rbc-rtl .rbc-header + .rbc-header {
  border-right: none;
}

.rbc-header {
  color: #454545;

  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 100% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.rbc-month-view {
  display: flex;
  overflow: auto;
  border: none;
}

.rbc-today {
  border-radius: 3px;
  background: #f2f0ff;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 3px 4px;
  background-color: #7a64ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-event-content {
  text-align: center;
  font-size: 12px;
}

.rbc-time-view {
  display: none;
}

.rbc-button-link.rbc-show-more {
  display: none;
}

.extra-events-info {
  position: absolute;
  bottom: 5px;
  width: 100%;

  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.75rem;
  color: #555;
}

.rbc-date-cell {
  text-align: center;
  font-size: 14px;
}
